html, body {
  margin: 0;
  // background-color: black;
  background: linear-gradient(to right, #323533, #242424);
  color: white;
  font-family: 'Lora', serif;
  scroll-behavior: smooth;

}

// Generic Tag Selector

div,
header,
p,
main,
section,
nav,
a,
h1 {
  display: flex;
  flex-direction: column;
  // nanti dihapus
  // border: 0.1px solid white; 
}

a {
  color: white;
  text-decoration: none;
}

// Class Selector

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  background-color: #c52f2f;
  height: 60px;

  .link-container {
    height: 100%;
    justify-content: center;
    padding: 0 20px;

    &:hover {
      cursor: pointer;
      background-color: #1A476B;
    }

    a {
      font-size: 24px;
      font-family: 'Muli', sans-serif;
    }    
  }
}

#welcome-section {
  height: calc(100vh - 60px);
  padding-top: 60px;
  justify-content: center;
  align-items: center;
  font-size: 36px;

  h1 {
    margin: 0;
    padding: 0;
    display: block;

    span {
      font-style: italic;
    }
  }

  p {
    color: rgb(255, 66, 66);
    margin: 0;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    opacity: 80%;
  }
}

#projects {
  background-color: #3c4c86;
  justify-content: center;
  padding-top: 35px;

  .projects-desc {
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    margin: 50px;

    div {
      width: fit-content;
      border: none;
      padding-bottom: 5px;
      border-bottom: 2px solid white;
    }
  }
  
  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .project-tile {
      flex: 0 0 400px;
      height: 450px;
      margin: 20px;

      &:hover {
        cursor: pointer;
      }

      .project-preview {
        flex: 1 1 auto;
        // background-color: white; //nanti hapus

        div#survey-img {
          background: url(img/survey-img.png) center center;
          background-repeat: no-repeat;

          background-size: 450px 370px;
        }
      }

      .project-title {
        flex: 0 1 80px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        background-color: #383737;
        border-radius: 0 0 5px 5px;

        span {
          font-family: 'Muli', sans-serif;
        }
      }
    }
  }

  .show-all {
    background-color: #383737;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 30px 0 50px 0;
    width: 130px;
    flex: 0 1 40px;
    border-radius: 2px;
    font-family: 'Muli', sans-serif;
    font-size: 20px;

    &:hover {
      background-color: #c52f2f;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }
  }
}

.contact-container {
  flex: 0 1 663px;

  .desc-link-container {
    flex-grow: 1;
    justify-content: center;
  }

  .contact-desc {
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 54px;
      margin: 0;
    }
    
    span {
      font-style: italic;
      font-weight: 300;
      opacity: 70%;
    }
  }

  .profile-link-container {
    flex: 0 1 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
      flex-direction: row;
      margin: 50px 15px;
      justify-content: center;
      align-items: center;
      transition: 0.5s;

      &:hover {
        transform: translateY(10px);
        transition: 0.5s;
      }

      &#twitter-link {

        img {
          filter: invert(0);
          padding: 0;
          margin: 0;
        }

         span {
          margin-top: 2px;
         }
      }

      img {
        filter: invert(1);
        margin-right: 8px;
      }

      span {
        font-family: 'Rubik', sans-serif;
        font-size: 25px;
      }
    }
  }

  .footer {
    flex: 0 1 100px;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #c52f2f;
  }
}

@media (max-width: 360px) {
  #nav {
    display: none;
  }
}